* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header .nav-Center, .col.colH1-Center {
  display: flex;
  justify-content: center;
  align-items: center; }

header {
  height: 800px;
  background-color: #F2F4F4; }

header .nav-Center, .col.colH1-Center {
  display: flex;
  justify-content: center;
  align-items: center; }

.col.colH1-Center {
  height: 100px; }
