.mainComoComprar {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedorNumeros {
        margin-bottom: 30px;
      }
      
      .imgCirculos {
        width: 76%;
        margin-left: 45px;
      }
  }
  
  