@import "_mixin";


.mainCorpinosTriangulitos{
  .contCorpinos{
    display: flex;
    justify-content: center;
    .rowCorpinos {
      width: 78%;
    }
  }

  .contProductos {
    .rowProductos {
      justify-content: center;
      .colProductos {
        width: 330px;
        margin-bottom: 50px;
        a {
          color: #000;
          text-decoration: none;
          &:visited {
            text-decoration: none;
            color: #000;
          }
          .cardBody-Borde {
            border: solid 1px #000;
            color: #000;
            box-shadow: 0.1px 10px 17px -9px #000;
          } 
        }
      } 
    }  
  }
}
