@import "mixin";

.col.colH1-Center {
    @extend %CentrarContenido;
    height: 100px;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carouselProductos {
  justify-content: center;
}

.contenedorPreguntas {
  margin-top: 50px;
  margin-bottom: 70px;
  height: 200px;
  .rowPreguntas {
    width: 80%;
  }

  .colPreguntas{
    border-right: solid 1px #000;
  }
  .colPreguntas, .colPreguntasDre  {
    @extend %CentrarContenido;
    @extend %estilosBonotes; 

    .btn-Encuadro {
      padding: 40px 30px;
      width: 240px;
      height: 150px;
      font-size: 20px;
      margin: 0px 20px;
      box-shadow: 0.1px 10px 17px -9px #000;
    }
  }
}

.cInsta {
  margin-bottom: 20px;
  height: 140px;
  .colUserInsta{ 
    display: flex;
    justify-content: center;
    align-items: center;
    .pUserInsta{ 
      font-size: 40px;
      margin-bottom: 2px;
    }
  }
}
